{:deps {}
 :aliases {:test {:extra-paths ["test"]}
           :release
           {:extra-deps {applied-science/deps-library {:mvn/version "VERSION"}}
            :main-opts ["-m" "applied-science.deps-library"]}
                                :artifact "deps-deploy.jar"}}